.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.products{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.products img{
  width: 20%;  
}
.product{
  padding: 40px;
  
}
button{
  font-size: 20px;
  padding: 10px;
}

header{
  height: 50px;
  padding-top: 20px;
  position: fixed;
}
.cartBtn{
  background: blue;
  color: gold;
  border: none;
  border-radius: 30px;
  font-weight: 700;
  margin: 5px;
}
.cartBtn:hover{
  background-color: blueviolet;
}
.headline{
  background-image: linear-gradient(to right, white,rgb(66, 62, 62),white );
  margin: auto;
  width: 30%;
  padding:10px;
  color: white;
  border-radius: 10px;
  font-weight: 700;

}
.heading{
  background:Black;
  color: white;
  padding: 10px;
  font-weight: 700;
}
.priceColor{
  color:orangered;
}
.totalPrice{
  color: red;
}